<template>
  <div class="vue-app">
   
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}

window.addEventListener('message', event => {
    if (event.origin === 'http://localhost:8000') {
        document.querySelector('.vue-app').innerText = JSON.stringify(event.data);
    } 
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
